<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Tickboard</title>
		<link rel="stylesheet" href="/tickboard.css" type="text/css" />
		<meta http-equiv="refresh" content="60" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<dl>
			<% @users.each do |user| 
				perc = (user[:hours]/7.5*100).to_i
				perc = 100 if perc > 100
				hours = sprintf('%.1f', user[:hours])
			%>
				<% if perc < 100 %>
					<dt class="bad">
						<img src="<%= user[:img] %>" alt="<%= user[:name] %>" />
						<span><% if user[:name] == "tblair" %>Tim Rocks!<% else %><%= user[:name] %> <% end %></span>
					</dt>
					<dd class="bad"><div style="width: <%= perc %>%;"><%= hours %></div></dd>
				<% end %>
			<% end %>
		</dl>
	</body>
</html>
